<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<div class="pull-left">
				<h4>Comparaison des alertes Maestro->CORAIL ({{alertes_comp_maestro_corail.length}} éléments)</h4>
			</div>
			<div class="pull-right">
				<a class="btn btn-success" ng-click="init_alerte_comp_maestro_corail()"><i class="glyphicon glyphicon-plus"></i> Initialiser la comparaison</a>
				<a class="btn btn-success" ng-click="export_alerte_comp_maestro_corail()"><i class="glyphicon glyphicon-export"></i> Exporter la comparaison</a>
			</div>
			<div class="clearfix"></div>
		</h4>
	</div>
	<div class="panel-body">
		<div class="input-group input-group-md">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-filter"></i>
			</span>
			<input class="form-control" type="search" ng-model="alerte_comp_maestro_corail_filter">
		</div>
		<div id="exportable">
			<table class="table table-condensed table-striped">
				<thead>
					<tr>
						<th class="id">
							<a ng-click="sortType='id';sortReverse=!sortReverse">Id<span ng-show="sortType=='id'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="reference">
							<a ng-click="sortType='reference';sortReverse=!sortReverse">Référence<span ng-show="sortType=='reference'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='reference' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="designation">
							<a ng-click="sortType='designation';sortReverse=!sortReverse">Désignation<span ng-show="sortType=='designation'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='designation' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="date">
							<a ng-click="sortType='date_rupture_dotation_atelier_maestro';sortReverse=!sortReverse">MAESTRO<br>Rupture dotation<span ng-show="sortType=='date_rupture_dotation_atelier_maestro'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='date_rupture_dotation_atelier_maestro' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="date">
							<a ng-click="sortType='date_rupture_minimale_corail';sortReverse=!sortReverse">CORAIL<br>Rupture mini<span ng-show="sortType=='date_rupture_minimale_corail'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='date_rupture_minimale_corail' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="ecart">
							<a ng-click="sortType='ecart_date_rupture_minimale';sortReverse=!sortReverse">Ecart (h)<br>Rupture mini<span ng-show="sortType=='ecart_date_rupture_minimale'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='ecart_date_rupture_minimale' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="date">
							<a ng-click="sortType='date_rupture_maestro';sortReverse=!sortReverse">MAESTRO<br>Rupture<span ng-show="sortType=='date_rupture_maestro'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='date_rupture_maestro' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="date">
							<a ng-click="sortType='date_rupture_corail';sortReverse=!sortReverse">CORAIL<br>Rupture<span ng-show="sortType=='date_rupture_corail'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='date_rupture_corail' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="ecart">
							<a ng-click="sortType='ecart_date_rupture';sortReverse=!sortReverse">Ecart (h)<br>Rupture<span ng-show="sortType=='ecart_date_rupture'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='ecart_date_rupture' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="comment">
							<a ng-click="sortType='commentaire';sortReverse=!sortReverse">Commentaire<span ng-show="sortType=='commentaire'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='commentaire' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
						</th>
						<th class="lien"></th>
						<th class="lien"></th>
					</tr>
				</thead>
				<tbody ng-init="get_alertes_comp_maestro_corail(); get_site();">
					<tr ng-repeat="alerte_comp_maestro_corail in alertes_comp_maestro_corail | filter : alerte_comp_maestro_corail_filter | orderBy:sortType:sortReverse">
						<td>{{alerte_comp_maestro_corail.id}}</td>
						<td>{{alerte_comp_maestro_corail.reference}}</td>   
						<td class="overflowhide">{{alerte_comp_maestro_corail.designation}}</td>      
						<td>{{alerte_comp_maestro_corail.date_rupture_dotation_atelier_maestro}}</td>   
						<td>{{alerte_comp_maestro_corail.date_rupture_minimale_corail}}</td> 
						<td>{{alerte_comp_maestro_corail.ecart_date_rupture_minimale}}</td>
						<td>{{alerte_comp_maestro_corail.date_rupture_maestro}}</td>  
						<td>{{alerte_comp_maestro_corail.date_rupture_corail}}</td>  
						<td>{{alerte_comp_maestro_corail.ecart_date_rupture}}</td>
						<td class="overflowhide" ng-click="enableCommentaire(alerte_comp_maestro_corail)">
							<span ng-hide="editingData[alerte_comp_maestro_corail.id]">{{alerte_comp_maestro_corail.commentaire}}</span>
							<span ng-show="editingData[alerte_comp_maestro_corail.id]">
								<form class="form-horizontal" ng-submit="update_alerte_comp_maestro_corail(alerte_comp_maestro_corail)">
									<input type="text" ng-model="alerte_comp_maestro_corail.commentaire"/>
									<a class="btn btn-default btn-xs" ng-click="update_alerte_comp_maestro_corail(alerte_comp_maestro_corail)"><i class="glyphicon glyphicon-save"></i></a>
								</form>
							</span>
						</td>
						<td><a href="http://maestro.inetpsa.com/produit.do?methode=init&selectedcodeProduit={{alerte_comp_maestro_corail.reference}}" target="_blank"><img src="images/maestro.jpg"/></a></td>
						<td><a href="http://{{site.valeur}}.control.erp.corail.inetpsa.com/getProductSummaryRead.do?beanId={{alerte_comp_maestro_corail.reference}}" target="_blank"><img src="images/corail.jpg"/></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
<div ng-init="get_alerte_comp_maestro_corail_log()" class="alert alert-info">
	<h4>Logfile {{log.file}}</h4>
	<textarea ng-model="log.text" class="form-control log" readonly="readonly" rows="10" >
</div>