<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<div class="pull-left">
				<h4>Liste des alertes Corail ({{alertes_corail.length}} éléments)</h4>
			</div>
			<div class="pull-right">
				<a class="btn btn-success" href="#new_alerte_corail"><i class="glyphicon glyphicon-plus"></i> Ajouter une alerte Corail</a>
				<a class="btn btn-success" ng-click="export_alerte_corail()"><i class="glyphicon glyphicon-export"></i> Exporter les alertes Corail</a>
				<a class="btn btn-success" href="#import_alerte_corail"><i class="glyphicon glyphicon-upload"></i> Importer les alertes Corail</a>
			</div>
			<div class="clearfix"></div>
		</h4>
	</div>
	<div class="panel-body">
		<div class="input-group input-group-md">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-filter"></i>
			</span>
			<input class="form-control" type="search" ng-model="alerte_corail_filter">
		</div>
		<div id="exportable">
			<table class="table table-condensed table-striped">
			  <thead>
				<tr>
				  <th class="id">Id</th>
				  <th class="reference">Référence</th>
				  <th class="designation">Désignation</th>
				  <th class="date">Date rupture minimale</th>
				  <th class="date">Date rupture usine</th>
				  <th></th>
				</tr>
			  </thead>
			  <tbody ng-init="get_alertes_corail()">
				<tr ng-repeat="alerte_corail in alertes_corail | filter : alerte_corail_filter">
				  <td>{{alerte_corail.id}}</td>
				  <td>{{alerte_corail.reference}}</td>   
				  <td class="overflowhide">{{alerte_corail.designation}}</td>      
				  <td>{{alerte_corail.date_rupture_minimale}}</td>   
				  <td>{{alerte_corail.date_rupture_usine}}</td>
				  <td>
					<span><a class="btn btn-danger btn-xs" href="#del_alerte_corail/{{alerte_corail.id}}"><i class="glyphicon glyphicon-remove-sign"></i></a></span>
					<span><a class="btn btn-default btn-xs" href="#edit_alerte_corail/{{alerte_corail.id}}"><i class="glyphicon glyphicon-pencil"></i></a></span>
					<span><a class="btn btn-info btn-xs" href="#view_alerte_corail/{{alerte_corail.id}}"><i class="glyphicon glyphicon-eye-open"></i></a></span>
				  </td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
<div ng-init="get_alerte_corail_log()" class="alert alert-info">
	<h4>Logfile {{log.file}}</h4>
	<textarea ng-model="log.text" class="form-control log" readonly="readonly" rows="10" >
</div>