<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<div class="pull-left">
				<h4>Importer les alertes Maestro</h4>
			</div>			
			<div class="pull-right"></div>
			<div class="clearfix"></div>
		</h4>
	</div>
	
	<div class="panel-body">
		<div class="alert alert-info">
			<i class="glyphicon glyphicon-info-sign"></i>
			<strong>Info !</strong><br>
			A partir de l'export Excel des alertes de rupture de MAESTRO<br>
			Enregistrer le fichier en CSV(séparateur: point-virgule) (*.csv)<br>
			Colonne A -> Référence du produit<br>
			Colonne B -> Description du produit<br>
			Colonne C -> Date de rupture<br>
			Colonne D -> Date de rupture avec dotation atelier<br>
			Colonne F -> Commentaire
		</div>
		<div ng-controller = "alerteMaestroCtrl">
		    <input type="file" ng-model="model.file"/>
		    <br>
		    <button class="btn btn-primary" ng-click="upload(model)" ng-disabled="isSomethingLoading">Upload <span ng-show="isSomethingLoading">en cours...</span></button>
		    <a class="btn" href="#alertes_maestro" ng-disabled="isSomethingLoading">Retour</a>
		</div>
	</div>
</div>
<div ng-init="get_alerte_maestro_import_log()" class="alert alert-info">
	<h4>Logfile {{log_import.file}}</h4>
	<textarea ng-model="log_import.text" class="form-control log" readonly="readonly" rows="10" >
</div>