<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <div class="pull-left">
                <h4>Modifier un produit</h4>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </h4>
    </div>
    <div class="panel-body">
        <form ng_init="load_produit()" class="form-horizontal" ng-submit="update_produit()">
            <div class="form-group">
                <label class="control-label col-xs-3" for="id">Id:</label>
                <div class="col-xs-9">
                    <input ng-model="produit.id" type="text" class="form-control" id="id" placeholder="Id" readonly="readonly">
                </div>
            </div>  
    		<div class="form-group">
                <label class="control-label col-xs-3" for="reference">Référence:</label>
                <div class="col-xs-9">
                    <input ng-model="produit.reference" type="text" class="form-control" id="reference" placeholder="reference">
                </div>
            </div>  
    		<div class="form-group">
                <label class="control-label col-xs-3" for="cu">CU:</label>
                <div class="col-xs-9">
                    <input ng-model="produit.cu" type="text" class="form-control" id="cu" placeholder="cu">
                </div>
            </div>  
    		<div class="form-group">
                <label class="control-label col-xs-3" for="quai">Quai:</label>
                <div class="col-xs-9">
                    <input ng-model="produit.quai" type="text" class="form-control" id="quai" placeholder="quai">
                </div>
            </div>     
            <div class="form-group">
                <label class="control-label col-xs-3" for="designation">Désignation:</label>
                <div class="col-xs-9">
                    <input ng-model="produit.designation" type="text" class="form-control" id="designation" placeholder="designation">
                </div>
            </div>      
            <br>
            <div class="form-group">
                <div class="col-xs-offset-3 col-xs-9">
                    <input type="submit" class="btn btn-success" value="Submit">
                    <a class="btn" href="#produits">Retour</a>
                </div>
            </div>
        </form>
    </div>
</div>