table {
  table-layout:fixed;
}
td {
  font-size: 10px;
  white-space: nowrap;
}
th {
  font-size: 10px;
  white-space: nowrap;
}
.log {
  font-size: 10px;
}
.comment {
  width:200px;
}
.id, .cu, .sgr, .quai, .ligne, .magasin, .unite {
  width:30px;
}
.designation {
  width:150px;
}
.reference, .produit, .type, .cofor, .bl, .ordre, .code_eq, .type_eq, .pt_dech, .um, .type_uc, .codif_uc, .uc {
  width:70px;
}
.date, .quantite, .point_conso, .isoagence {
  width:120px;
}
.ecart {
  width:70px;
}
.lien {
  width:25px;
}
.overflowhide {  
  overflow:hidden;
}