<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">
			<div class="pull-left">
				<h4>Liste des aviexp MAESTRO ({{aviexps_maestro.length}} éléments)</h4>
			</div>
			<div class="pull-right">
				<a class="btn btn-success" ng-click="export_aviexp_maestro()"><i class="glyphicon glyphicon-export"></i> Exporter les aviexp MAESTRO</a>
				<a class="btn btn-success" href="#import_aviexp_maestro"><i class="glyphicon glyphicon-upload"></i> Importer les aviexp MAESTRO</a>
			</div>
			<div class="clearfix"></div>
		</h4>
	</div>
	<div class="panel-body">
		<div class="input-group input-group-md">
			<span class="input-group-addon">
				<i class="glyphicon glyphicon-filter"></i>
			</span>
			<input class="form-control" type="search" ng-model="aviexp_maestro_filter">
		</div>
		<div id="exportable">
			<table class="table table-condensed table-striped">
			  <thead>
				<tr>
				  <th class="id">Id</th>
                  <th class="cu">CU</th>
                  <th class="bl">Numéro BL</th>
                  <th class="date">DHEF aviexp</th>
                  <th class="produit">Produit</th>
                  <th class="ordre">Ordre</th>
                  <th class="quantite">Qte annoncée</th>
				</tr>
			  </thead>
			  <tbody ng-init="get_aviexps_maestro()">
				<tr ng-repeat="aviexp_maestro in aviexps_maestro | filter : aviexp_maestro_filter">
				  <td>{{aviexp_maestro.id}}</td> 
                  <td>{{aviexp_maestro.cu}}</td>
				  <td>{{aviexp_maestro.numero_bl}}</td>  
                  <td>{{aviexp_maestro.dhef_aviexp}}</td> 
                  <td>{{aviexp_maestro.produit}}</td>
                  <td>{{aviexp_maestro.numero_ordre}}</td>
                  <td>{{aviexp_maestro.qte_annoncee}}</td> 
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="panel-footer"></div>
</div>
<div ng-init="get_aviexp_maestro_log()" class="alert alert-info">
	<h4>Logfile {{log.file}}</h4>
	<textarea ng-model="log.text" class="form-control log" readonly="readonly" rows="10" >
</div>