Statut: <input ng-model="statut">
Produit: <input ng-model="produit">

<table class="table" ng-controller="ReliquatCtlr" id="tableReliquat">
	<thead>
		<tr>
			<th>Produit</th><th>SGR</th><th>BESOINS FV</th><th>BESOINS BC</th><th>ACCESS</th><th>BESOINS CORAIL</th><th>DATE BESOINS</th><th>ARE</th><th>DIFF</th><th>Statut</th>
		</tr>
	<thead>
	<tbody>
		<tr ng-repeat="reliquat in reliquats | filter: statut | filter: produit">
			<td>{{reliquat.produit}}</td><td>{{reliquat.sgr}}</td><td>{{reliquat.besoinsFv}} ({{reliquat.minSeqFv}} - {{reliquat.maxSeqFv}})</td><td>{{reliquat.besoinsBc}} ({{reliquat.minSeqBc}} - {{reliquat.maxSeqBc}})</td><td>{{reliquat.access}} ({{reliquat.minSeqAccess}} - {{reliquat.maxSeqAccess}})</td>
			<td>{{reliquat.besoinsCorail}}</td><td>{{reliquat.dateBesoins}}</td><td>{{reliquat.are}}</td><td>{{reliquat.diffQuantityNp}}</td>
			<td>{{reliquat.statut}}</td>
		</tr>
	<tbody>
</table>