<!-- Image Background Page Header -->
<header class="business-header" ng-show="!isConnected()" >
    <div class="container">
        <div class="row">
            <h1 class="tagline"></h1>
        </div>
    </div>
</header>
<br/>
<div class="col-xs-12" ng-controller="matchsCtrl" ng-init="getMatchsOfTheDay();">
            <fieldset>
                <legend><marquee><h2><b>Breaking news : games of the day</b></h2></marquee></legend>

                <div ng-show="displayMatchsOfTheDay == false">
                    <center><h2>Pas de matchs aujourd'hui</h2></center>
                </div>

                <div ng-show="displayMatchsOfTheDay == true" id="no-more-tables_a">
                    <div class="col-md-offset-3 col-md-6">

                        <table class="table table-condensed table-striped">
                            <tbody>
                            <tr ng-repeat="match in matchs">
                                <td style="vertical-align:middle"><center><span class="newflags {{match.teamA}}"></span> {{match.libteamA}}</center></td>
                                <td style="vertical-align:middle"><center>{{match.dateMatch | date:'HH:mm'}}<br/><input style="width:35px;text-align:center;" value="{{match.resultA}}" disabled> <input style="width:35px;text-align:center;" value="{{match.resultB}}" disabled></center></td>
                                <td style="vertical-align:middle"><center><span class="newflags {{match.teamB}}"></span> {{match.libteamB}}</center></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </fieldset>
</div>

<div ng-show="isConnected()" class=" jumbotron container-fluid">
    <div class="row-fluid">

        <div class="row-fluid" >
            <div class="col-xs-12">
                <div id="no-more-tables" class="table-responsive">
                    <table class="table table-condensed table-striped">
                        <thead>
                        <tr>
                            <!--<th class="id">Id</th>-->
                            <th class="title">
                                <a ng-click="sortType='title';sortReverse=!sortReverse">Titre<span ng-show="sortType=='title'&&!sortReverse" class="glyphicon glyphicon-chevron-down"></span><span ng-show="sortType=='title' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a>
                            </th>
                            <th class="description">Description</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-init="getMyCommunities();">
                        <tr ng-repeat="community in my_communities.communities | orderBy:sortType:sortReverse">
                            <!--<td>{{community.com_id}}</td>-->
                            <td data-title="Titre">{{community.title}}</td>
                            <td data-title="Desc.">{{community.description}}</td>
                            <td>
                                <span><a class="btn btn-danger" href="#bet_in_community/{{community.com_id}}"><i class="glyphicon glyphicon-stats"></i> Pariez !</a></span>
                                <span><a class="btn btn-success" href="#rank_in_community/{{community.com_id}}"><i class="fa fa-line-chart" aria-hidden="true"></i> Classement</a></span>
                                <span><a class="btn btn-success" href="#bets_in_community/{{community.com_id}}"><i class="fa fa-line-chart" aria-hidden="true"></i> Nos paris</a></span>
                                <span><a class="btn btn-info" href="#blog_in_community/{{community.com_id}}"><i class="glyphicon glyphicon-bullhorn"></i> Blog</a></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <center><span id="spin"><img src="static/img/spin.gif"></span></center>
            </div>
        </div>

    </div>
</div>

<div ng-show="!isConnected()" class="container-fluid">
    <!--div class=" jumbotron container-fluid">
        <div class="row-fluid">

                <center>
                    <span ng-init="injectCounter()" id="counter"></span>
                </center>

        </div>
    </div>

    <br/>-->

    <div class="row">
        <div class="col-sm-6">
            <center>
                <a href="#signin">
                    <img class="img-focus img-circle img-responsive img-center" src="/static/img/france-champion-europe-1984.jpg" alt="">
                    <h2>Connectez-vous !</h2>
                </a>
            </center>
        </div>
        <div class="col-sm-6">
            <center>
                <a href="#signon">
                    <img class="img-focus img-circle img-responsive img-center" src="/static/img/euro_84_champion.jpg" alt="">
                    <h2>Inscrivez-vous !</h2>
                </a>
            </center>
        </div>
    </div>
</div>

<div class=" jumbotron container-fluid">
    <div class="row-fluid">
        <center><h1>TOP 5</h1></center>
        <div class="col-sm-6 col-sm-offset-3">
            <center>
                <img class="img-focus-picture img-responsive" src="/static/img/pictures/TOP5_17062016.png" alt="">
            </center>
        </div>
    </div>
</div>

<br/>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <img class="img-responsive img-center" src="/static/img/devices.png" alt="Site compatible sur tous les écrans !">
            <center><h4>Site compatible sur tous les écrans !</h4></center>
        </div>
    </div>
</div>

<div ng-include src="'static/js/piwik.js'"></div>