{% extends "squelette.html" %}

{% block corps %}
<div class="container-fluid"  style="background-image:url(https://upload.wikimedia.org/wikipedia/fr/thumb/1/1c/Euro_84.svg/langfr-187px-Euro_84.svg.png)">
    <div class="jumbotron" style="background-color:white; opacity:0.70">
    <h1>A new amazing bet web site coming soon</h1>
    <h2>We will need you</h2>
        <div>
          <label>Name:</label>
          <input type="text" ng-model="yourName" placeholder="Enter a name here">
          <hr>
          <h1>Hello {{yourName}}!</h1>
        </div>
    </div>
</div><!-- /.container -->
{% endblock %}

{% block footer %}
{% endblock %}
