{% extends "squelette.html" %}

{% block corps %}
<div class="container">

  <div class="jumbotron">
    <h1 class="lead">Les règles du jeu</h1>
    <h2 class="lead">Principes : </h2>
    <ul>
      <li>Saisie des paris en 2 phases (Paris pour la phase des "Poules" puis Paris pour les "phases finales")</li>
      <li>Une fois le premier match de la coupe commencé = arrêt des paris de la phase des poules</li>
      <li>Une fois le premier match de la phase finale commencé = arrêt des paris pour les phases finales</li>
      <li>A chaque fin de match, saisi des résultats par l'administrateur et calcul des points de chaques participants et classement</li>
      <li>Les paris de l'ensemble des parieurs ne seront visibles qu'une fois la cloture des paris réalisés</li>
      <li>L'esprit du calcul des points est de laisser une "certaine" part à de l'aléatoire pour laisser toutes ses chances à chacun, connaisseur ou non</li>
    </ul>
    <h2 class="lead">Calcul des points</h2>
    <ul>
      <li>Si le parieur a trouvé le vainqueur (ou deviné un match null) : 2 points</li>
      <li>5 points si le parieur a deviné le nombre de point d'une équipe </li>
      <li>3 points si le parieur a deviné la bonne différence de points entre les 2 équipes (peu importe le vainqueur)</li>
      <li>Donc, pour chaque match, un parieur peut récolter 2 + 10 + 3 points = 15 points s'il devine le résultat exact du match (ce qui est relativement rare dans ce sport)</li>
    </ul>
    <h2 class="lead">Classements</h2>
    <ul>
      <li>Un classement sera réalisé pour les phases de poule</li>
      <li>Un classement sera réalisé pour les phases finales</li>
      <li>Un classement sera réalisé sur l'ensemble de la compétition</li>
    </ul>
    <h2 class="lead">Recours</h2>
    <ul>
      <li>Aucun recours ne sera accepté (dura lex, sed lex)</li>
    </ul>
  </div>
</div><!-- /.container -->
{% endblock %}

{% block footer %}
{% endblock %}
