<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <div class="pull-left">
                <h4>Visualiser une communauté</h4>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </h4>
    </div>
    <div class="panel-body">
        <form ng-init="getCommunity()" class="form-horizontal">
            <!--<div class="form-group">
                <label class="control-label col-xs-3" for="id">Id:</label>
                <div class="col-xs-9">
                    <input ng-model="community.community.com_id" type="text" class="form-control" id="id" placeholder="Id" readonly="readonly">
                </div>
            </div>  -->
    		<div class="form-group">
                <label class="control-label col-xs-3" for="title">Titre:</label>
                <div class="col-xs-9">
                    <input ng-model="community.community.title" type="text" class="form-control" id="title" placeholder="Titre" readonly="readonly">
                </div>
            </div>     
            <div class="form-group">
                <label class="control-label col-xs-3" for="description">Description:</label>
                <div class="col-xs-9">
                    <input ng-model="community.community.description" type="text" class="form-control" id="description" placeholder="Description" readonly="readonly">
                </div>
            </div>     
        </form>
            <br>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <div class="pull-left">
                                        <h4>Statistiques</h4>
                                    </div>
                                    <div class="pull-right"></div>
                                    <div class="clearfix"></div>
                                </h4>
                            </div>
                            <div class="panel-body">
                                C'est encore trop tôt !
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-6 col-md-6">
                        <div class="topbar">
                            <div class="container">
                              <div class="row">
                                <div class="col-s-4">
                                  <h1 ng-click="selectTab('CommunitiesCtrl')" class="push-left">{{title}}</h1>
                                </div>
                                <div class="offset-s-4 col-s-4">
                                  <nav role='navigation' class="push-right">
                                    <ul>
                                      <li ng-click="selectTab('CommunitiesCtrl')">Voir tous les posts</li>
                                    </ul>
                                  </nav>
                                </div>
                              </div>
                            </div>
                        </div>

                        <div class="container" style="width:100%">
                            <div class="row">
                                <ul class="post-grid" ng-show="isSelected('CommunitiesCtrl')">
                                  <li ng-repeat="post in posts" class="col-s-4"
                                      ng-class="{ 'reset-s' : $index%3==0 }"
                                      ng-click="selectTab($index)" >
                                    <h3>{{post.title}}</h3>
                                    <p>{{post.body[0] | limitTo:70}}...</p>
                                    <p class="fa fa-comment push-left"> {{post.comments.length}}
                                    </p>
                                  </li>
                                </ul>
                                <div class="post" ng-repeat="post in posts" ng-show="isSelected($index)">
                                    <span>
                                        <h2>{{post.title}}</h2>
                                        <cite>by {{post.author}} on {{post.createdOn | date}}</cite>
                                        <div class="post-body">
                                         <p ng-repeat="paragraph in post.body">
                                           {{paragraph}}
                                         </p>
                                        </div>
                                        <p class="fa fa-comment push-left"> {{post.comments.length}}
                                        </p>
                                        <h3><span class="">
                                                <a class="label label-info pull-right"
                                                  ng-click="selectTab('CommunitiesCtrl')">Revoir tous les posts</a>
                                            </span>
                                        </h3>
                                        <div class="comments">
                                            <h3>Commentaires</h3>
                                            <ul>
                                                <li ng-repeat="comment in post.comments">
                                                    "{{comment.body}}"
                                                    <cite>- <b>{{comment.author}}</b></cite>
                                                </li>
                                            </ul>
                                            <form name="commentForm" ng-submit="addComment(post)" class="form-horizontal">
                                                <div class="form-group required">
                                                    <div class="col-xs-12">
                                                        <label for="add_comment">Ajouter un commentaire</label>
                                                        <textarea ng-model="comment.body" cols="30" rows="10" required
                                                                  class="form-control" required="required" id="add_comment"></textarea>
                                                    </div>
                                                </div>
                                                <input type="submit" value="Sauvegarder" class="btn btn-success pull-right"
                                                    ng-show="!isConnected()"/>
                                            </form>



                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>

                        </div>
                    <br>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <a class="btn" href="#communities">Retour</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>