<div class="jumbotron">
    <div class="container-fluid"  >
        <div class="row-fluid" >
            <h1>Les parieurs</h1>
        </div>
        <div class="row-fluid" >
            <div class="col-xs-12">
                <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th class="nickName">NickName</th>
                        <th class="description">Description</th>
                        <!--<th class="validated">Validé ?</th>-->
                        <th></th>
                    </tr>
                    </thead>
                <tbody ng-init="getUsers();">
                    <tr ng-repeat="user in users.users">
                        <td ng-if="$odd" style="background-color:#f1f1f1">
                        <img height="32px" width="32px" class="img-circle" ng-src ="users/apiv1.0/users/{{ user.user_id }}/avatar?{{ currentDateForAvoidTheCache }}" > {{ user.nickName }}</td>
                        <td ng-if="$even">
                        <img height="32px" width="32px" class="img-circle" ng-src ="users/apiv1.0/users/{{ user.user_id }}/avatar?{{ currentDateForAvoidTheCache }}" > {{ user.nickName }}</td>
                        <td ng-if="$odd" style="background-color:#f1f1f1">
                        {{ user.description }}</td>
                        <td ng-if="$even">
                        {{ user.description }}</td>
                        <!--<td ng-if="$odd" style="background-color:#f1f1f1">
                        {{ user.validated }}</td>
                        <td ng-if="$even">
                        {{ user.validated }}</td>-->
                        <td>
                            <!--<span><a class="btn btn-danger" href="#del_community/{{community.com_id}}"><i class="glyphicon glyphicon-remove-sign"></i></a></span>
                            <span><a class="btn btn-info" href="#edit_community/{{community.com_id}}"><i class="glyphicon glyphicon-pencil"></i></a></span>-->
                            <span><a class="btn btn-default" href="#/user_detail/{{user.user_id}}"><i class="glyphicon glyphicon-pencil"></i></a></span>
                        </td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


