<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <div class="pull-left">
                <h4>Détail d'un parieur</h4>
            </div>
            <div class="pull-right"></div>
            <div class="clearfix"></div>
        </h4>
    </div>
    <div class="panel-body">
        <form name="thelogin" ng-submit="saveUser()">
          <div class="form-group" required>
              <label for="uuid" class="control-label">uuid</label>
              <input type="uuid" class="form-control" id="uuid" name="uuid" ng-model="user.user_id"
              placeholder="Id" value="{{user.user_id}}" readonly>

              <label for="email" class="control-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" ng-model="user.email"
              placeholder="your email" value="{{user.email}}" readonly>

              <label for="nickName" class="control-label">Nickname</label>
              <input type="nickName" class="form-control" id="nickName" name="nickName" ng-model="user.nickName"
              placeholder="nickName" value="{{user.nickName}}" required="required">

              <label for="description" class="control-label">Description</label>
              <input type="description" class="form-control" id="description" name="description" ng-model="user.description"
              placeholder="description" value="{{user.description}}" >

              <label for="thepwd" class="control-label">Password</label>
              <input type="password" class="form-control" id="thepwd" name="thepwd" ng-model="user.pwd"
                  placeholder="Password" value="" required="required">

              <label for="validated" class="control-label">Validated</label>
              <input type="validated" class="form-control" id="validated" name="validated" ng-model="user.validated"
              placeholder="validated" value="{{user.validated}}" readonly>
          </div>
          <div class="form-group">
              <button ng-show="hasAuthorization()" type="submit" id="submit" name="submit" value="Sauvegarder"
                class="btn btn-primary btn-lg">Sauvegarder</button>
              <a class="btn" href="#users">Retour</a>
          </div>
        </form>
    </div>
</div>



