<div class="container-fluid"  >
  <h1>Users list page : TO COMPLETE !</h1>
  <div class="col-xs-12">
      <div class="">
        <h3>Ca ne se voit pas mais la liste des communautés est issue de
            <a href="/users/apiv1.0/users">ça</a> en provenance de mongodb</h3>
        <table>
            <tr><td>NickName</td><td>Description</td><td>validé</td></tr>
            <tr ng-repeat="user in users.users">
                <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ user.nickName }}</td>
                <td ng-if="$even">
                {{ user.nickName }}</td>
                <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ user.description }}</td>
                <td ng-if="$even">
                {{ user.description }}</td>
                <td ng-if="$odd" style="background-color:#f1f1f1">
                {{ user.validated }}</td>
                <td ng-if="$even">
                {{ user.validated }}</td>
            </tr>
        </table>
        </div>
  </div>
</div>



